/* 
  #frmdathang{
    position: absolute;
    inset: 0;
    margin: auto;
    height: 50%;
    width: 50%;
    padding: 8px;
    font-size: 1.4rem;
    background-color: yellow;
  }

  legend{
    background-color: black;
    color: white;
    padding: 4px;
  }
  #frmdathang #div{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:repeat(3, 30px) ;
  }
 #inputBankCard{
  display: none;
 }
 #inputBankCard label, fieldset label{
  display: inline-block;
 } */
 #sangUIThanhToan{
  background-color: black;
  color: rgb(13, 255, 0);
  border-radius: 15px;
  padding: 4px;
}
 #frmdathang fieldset{
  width: 54rem;
}
#cardNumber{
  width: 49rem;
}
#nameOnCard{
width: 60%;
}
#dateCreated{
width: 38%;
}
 .center{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
#customerName, #customerAddress, #cusPhoneNumber{
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  width:35rem;
}
#frmdathang label,#frmthanhtoan label{
  display: inline-block;
  width: 8rem;
}
 #frmdathang, #frmthanhtoan{
  color: rgb(0, 0, 0);
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
 }
 #khung_dat_hang {
  border: 2px solid rgba(26, 16, 16, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(68, 39, 39, 0.5);
  height: 180px;
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  display: none;
}
#orderHistoryContainer{
  display: none;
  width: 130rem;
  margin-left: auto;
  margin-right: auto;
}
 #readOrderHistory{
  display: none;
  color: white;
  background-color: darkcyan;
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
 }
 #orderHistory{
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
 }
 #orderHistory td{
  font-size: 1.8rem;
 }
 #orderHistory th
 {
  color: orangered;
  font-size: 2.5rem;
 }
 #orderHistory th, #orderHistory td{
  border: 1px solid black;
  text-align: center;
 }
 #bang_gio_hang {
  margin: 20rem auto 0 auto;
  border-spacing: 4px;
}
#bang_gio_hang td,
#bang_gio_hang th {
  border: 2px solid black;
  height: 50px;
}
#gio_hang {
  font-size: 3rem;
  font-weight: bold;
  color: red;
  display: flex;
  justify-content: center;
}
.quantity {
  background-color: white;
  display: inline-block;
  width: 6rem;
  height: auto;
  border: 1px solid black;
}
.control_quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.control_quantity button {
  width: 2rem;
  margin-left: -1px;
  margin-right: -1px;
}
.th {
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-weight: bolder;
}
#return_main_page {
  background-color: darkblue;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 8px;
  font-size: 2rem;
  margin-bottom: 10px;
  cursor: pointer;
}
#return_sc_page {
  background-color: darkblue;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 8px;
  font-size: 2rem;
  margin-bottom: 10px;
  cursor: pointer;
}
#dat_hang {
  background-color: purple;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 8px;
  font-size: 2rem;
  cursor: pointer;
}
#shopping_cart_page {
  margin-top: 10px;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}
#non_empty {
  display: none;
}
#empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#empty h1 {
  margin-bottom: 4px;
  font-size: 1.8rem;
}
#empty p {
  margin-bottom: 4px;
  font-size: 1.4rem;
}

#cart {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#cart th,
#cart td {
  padding: 4px;
  border-bottom: 2px solid #00FF80;
  font-size: 2.8rem;
}
.deleteRow {
  width: 80%;
}

#cart th {
  color: blue;
}
.deleteRow {
  color: #FF0080;
}
/* #khung_dat_hang {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#khung_dat_hang img {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 70px;
  height: 70px;
} */
#sotientongcong {
  display: inline;
  padding: 4px;
  font-size: 2rem;
}
#sotientongcong div {
  border: 2px solid black;
  display: inline;
  padding: 4px;
}
#totalCost {
  min-width: 320px;
  padding: 4px;
  margin-left: -1px;
}
.detailPhone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#dong_dat_hang{
  background-color: black;
}
#orderData #orderDetail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: red;
  font-size: 2.5rem;
  border: 2px solid rgba(26, 16, 16, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(68, 39, 39, 0.5);
  padding: 4px;
}
#orderHistoryContainer .center h1{
  font-size: 4rem;
}