#customerName, #customerAddress, #cusPhoneNumber{
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
  }
  #frmdathang{
    position: absolute;
    inset: 0;
    margin: auto;
    height: 30%;
    width: 40%;
    padding: 8px;
    font-size: 1.4rem;
    background-color: yellow;
  }
  #frmdathang fieldset{
    display: none;
    border: 1px solid black;
    padding: 4px;
  }
  legend{
    background-color: black;
    color: white;
    padding: 4px;
  }
  #frmdathang #div{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:repeat(3, 30px) ;
  }
  #transferPayment{
    background-color: black;
    color: rgb(13, 255, 0);
    border-radius: 15px;
    padding: 4px;
  }
  .center{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  #cardNumber{
    width: 100%;
  }
 #nameOnCard{
  width: 69%;
 }
 #dateCreated{
  width: 30%;
 }
 #inputBankCard label, fieldset label{
  display: inline-block;
 }