@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --blue1: #598fbf;
  --white: #fff;
  --white2: #f6f9fc;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --blue2: #6da3d3;
  --red: #f80000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  /* => 1rem = 10px */
}

html,
body {
  height: 100%;
}

/*====================================================  HEADER ==================================================== */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-mask {
  width: 100%;
  height: 95px;
}
/*                                                .header                                            */
.header {
  width: 100%;
  background-color: var(--blue1, --blue2);
}

.header .container {
  display: flex;
  background-color: var(--blue1, --blue2);
  padding-top: 1rem;
}
/* LOGO */
.logo {
  background-color: black;
  width: 30rem;
  height: 4rem;
}

/* THANH TÌM KIẾM */
.searchBar {
  background-color: lightgray;
  width: 50rem;
  height: 4rem;
  margin: 0 10px 0 100px;
  border-radius: 3.5rem;
  position: relative;
}
.searchBar > button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4rem;
  border-radius: 3.5rem;
  z-index: 1;
  background-color: white;
}
.search {
  width: 100%;
  height: 100%;
  border-radius: 3.5rem;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

/* GIỎ HÀNG*/
.cart {
  padding: 0 1rem;
}
.btn-cart {
  background-color: transparent;
  width: 15rem;
  height: 4rem;
  border-radius: 3.5rem;
  border: none;
  display: flex;
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều ngang */
  gap: 0.5rem; /* Khoảng cách giữa icon và chữ */
  font-size: 1.6rem; /* Kích thước cho chữ và icon */
  color: var(--white);
}
.btn-cart:hover {
  color: var(--black1);
  cursor: pointer;
}
/*                                                .navigation                                            */
.navigation {
  background-color: var(--blue1, --blue2);
  padding: 0 0 10px;
  padding-bottom: 0;
  padding-top: 4px;
}

.navigation > div {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.main-menu {
  display: flex;
  margin: 0 -10px 0;
}

.main-menu li {
  cursor: pointer;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.6em;
  margin-right: 10px;
  width: 100%;
  max-width: 100px;
  text-align: center;
  color: var(--white);
}

.main-menu > li:hover {
  color: var(--black1);
}

/*====================================================  MAIN ==================================================== */

.active {
  display: block;
}

.section {
  display: none;
}

/* --------------------------------------------- HOME --------------------------------------------- */
#home {
  width: 100%;
}

#home > .container {
  margin-top: 1rem;
  background-color: var(--white);
}
/*.slider-banner*/

.slider-banner {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.slider {
  display: flex;
  width: calc(100% * 5); /* Đảm bảo đủ không gian cho tất cả slide */
  transition: transform 0.5s ease;
}

.banner {
  width: calc(
    (1200px / 2) - 5px
  ); /* Mỗi slide chiếm 1/2 div cha, trừ đi khoảng cách 10px */
  margin-right: 10px; /* Khoảng cách giữa các slide */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
.banner > img {
  width: 600px;
  height: 300px;
}
/*.products*/

.products {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Tối đa 6 cột, mỗi cột rộng bằng nhau */
  gap: 10px; /* Khoảng cách giữa các div con */
  margin-top: 30px;
}

/* .product */
.product {
  background-color: var(--white);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  height: 45rem;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

.productImg {
  height: 250px;
}

.productImg img {
  width: 100%; /* Hoặc đặt một giá trị cụ thể, ví dụ: 80% */
  height: auto; /* Đảm bảo ảnh giữ nguyên tỉ lệ */
  max-width: 80%; /* Hoặc kích thước cụ thể, ví dụ: 150px */
  max-height: 250px; /* Đặt chiều cao tối đa */
  object-fit: contain; /* Giữ tỉ lệ mà không cắt ảnh */
}

.productName {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  text-align: left;
  font-weight: bold;
  font-size: 1.8em;
  word-wrap: break-word;
  overflow: hidden; /* Nội dung quá dài sẽ ẩn*/
  text-overflow: ellipsis; /* Nội dung bị ẩn sẽ hiển thị ...*/
}

.productPrice {
  width: 100%;
  height: 2em;
  text-align: left;
  font-size: 2em;
  color: var(--red);
}

.btnProduct {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}
.btnProduct > button {
  height: 40px;
  width: 100px;
  background-color: var(--white);
  border-radius: 10px;
  margin: 10px;
}
.btnProduct > button:hover {
  color: var(--white);
  background-color: var(--blue1, --blue2);
}
.btn-them-gio-hang {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn-them-gio-hang > button {
  height: 40px;
  width: 100px;
  background-color: var(--white);
  font-weight: 600;
  font-size: 1.4em;
  color: var(--black1);
  border-radius: 10px;
}
.btn-them-gio-hang > button:hover {
  color: var(--blue1, --blue2);
}
/* NẾU SẢN PHẨM VƯỚT QUÁ 8 SẢN PHẨM TRONG 1 PRODUCT-CONTAINER SẼ BỊ THU GỌN */

.products .product:nth-child(n + 9) {
  display: none;
}

/* --------------------------------------------- IPHONE --------------------------------------------- */
.page{
  width: 100%;
  height: 400px;
  padding-top: 10px;
}

.page> .container {
  width: 100%;
  background: var(--white);
  border-radius: 10px;
}

.container > nav {
  display: flex;
  margin-left: 10px;
  font-size: 1.2em;
  gap: 10px;
  font-weight: bold;
}

.container > nav > a:hover {
  text-decoration: underline;.option {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .option.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
}

/* FILTER-SORT >>---------  */
.margin-filter-sort {
  margin: 10px;
  margin-bottom: 10px;
}

/*++++++++++>> FILTER */
.filter {
  position: relative;
}
.triangle {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent; /* Tạo cạnh bên trái */
  border-right: 15px solid transparent; /* Tạo cạnh bên phải */
  border-bottom: 20px solid #007bff; /* Tạo đáy của tam giác */
}

.filterBtn {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  gap: 4px;
  padding: 2px;
  margin: 2px 0;
  height: 35px;
  width: 70px;
  border-radius: 5px;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
}
.filterBtn > i {
  color: var(--blue1, --black2);
}
.filterBtn:hover {
  background-color: var(--white2);
}

.filter-popup {
  position: absolute;
  top: 45px;
  left: 0;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  height: 300px;
  background-color: #fff;
  border: 1px solid blue;
  padding: 0 10px;
  overflow: auto;
}

/* Phần content popup */

.gia-san-pham,
.tuy-chon {
  margin-top: 4px;
}

.gia-san-pham > h3 {
  text-align: left;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.option {
  border-radius: 5px;
  border: 1px solid green;
  padding: 10px;
}

.option:hover {
  background-color: yellow;
}

.tuy-chon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tuy-chon > div > h3 {
  text-align: left;
}

.option.filted {
  background-color: #007bff;
}

/*++++++++++<< FILTER */

/*++++++++++>> SORT */
.sort {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.sort > p {
  font-size: 1.6em;
}
/*++++++++++<< SORT */

/*---------<< FILTER-SORT  */

/*--------->> DETAIL PRODUCT */

/* Nền che mờ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Ẩn popup mặc định */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Hiển thị popup khi thêm lớp active */
.overlay.active {
  display: flex;
}

/* Hộp chi tiết sản phẩm */
.popup-content {
  background: #fff;
  width: 600px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.detail-content {
  display: flex;
}

.img-product {
  width: 35%;
}

.img-product > img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.detail-product {
  position: relative;
  width: 65%;
  height: auto;
  padding: 10px;
}

.detail-product > .detailName {
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-product > .detailRam {
  font-size: 16px;
  margin-bottom: 10px;
}

.detail-product > .detailStorage {
  font-size: 16px;
  margin-bottom: 10px;
}

.detail-product > .detailCash {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#btnPopup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btnAddtoCart {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #02c057;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closePopup {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ---------<< DETAIL PRODUCT */

/* NÚT XEM THÊM SẢN PHẨM */
.showMore {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}
/* NÚT XEM THÊM SẢN PHẨM */
.showMore > button {
  height: 40px;
  width: 100px;
  background-color: var(--white);
  border-radius: 10px;
}
.showMore > button:hover {
  color: var(--white);
  background-color: var(--blue1, --blue2);
}
.container.suggestion {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  background-color: #ede6e6;
}

.suggestion > div:first-child {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}
/* ĐĂNG NHẬP */
.login {
  padding: 0 1rem;
  margin: 0 auto;
}

.btnLogin-popup {
  background-color: transparent;
  width: 13rem;
  height: 4rem;
  border-radius: 3.5em;
  gap: 0.5rem;
  font-size: 1.6em;
  background-color: var(--white);
  font-weight: 600;
  color: var(--black2);
}

.btnLogin-popup:hover {
  color: var(--white);
  cursor: pointer;
  background-color: var(--black1);
}
.btnLogin-popup > i {
  margin-right: 5px;
}
.user-menu {
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info i {
  margin-right: 5px;
}
.user {
  margin-right: 20px;
  width: 120px;
  font-size: 1.5em;
}
.username-display:hover {
  color: var(--blue1, --blue2);
}
.logout-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btnLogout {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100px;
}

.btnLogout:hover {
  color: #f44336; /* Màu đỏ khi hover */
}

.user-info span {
  font-weight: bold;
  font-size: 16px;
}

/* Ẩn menu người dùng khi chưa đăng nhập */
.user-menu {
  display: none;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
}
.wrapper.active-popup {
  transform: scale(1);
}
.wrapper.active {
  height: 760px;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input#loginEmail[value="admin"]:focus ~ label,
.input-box input#loginEmail[value="admin"]:valid ~ label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}
.remember-forgot {
  font-size: 1.2em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a {
  color: #162938;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
  font-size: 500;
}
.login-register {
  font-size: 1.2em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}
.username-display {
  font-weight: bold;
  color: var(--black1);
  margin-left: 20px;
  cursor: pointer;
}
